[submodule "3rdparty/msgpack-c"]
	path = 3rdparty/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
	branch = cpp_master
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/spdk"]
	path = 3rdparty/spdk
	url = https://github.com/spdk/spdk.git
	shallow = true
